{% extends "achievemate/dashboard/dashboard_base.html" %}
{% load static %}
{% block content %}
    <!-- page-layout Start -->
    <section class="page-layout">
        <!-- mobile_view_header Start-->
        <header class="header mobile_view_header">
            <div class="container-fluid">
                <div class="nav-main">
                    <div class="logo-wrapper">
                        <div class="navbar-brand">
                            <a class="" href="#">
                                <img src="{% static 'assets/img/logo.svg' %}" alt="logo">
                            </a>
                        </div>
                    </div>
                    <!-- minimize_toggle -->
                    <div class="header-wrapper">
                        <span class="minimize_toggle">
                            <i class="ri-arrow-right-s-line"></i>
                        </span>
                    </div>
                </div>
            </div>
        </header>
        <!-- mobile_view_header END-->

         <!-- page-topbar Start -->
         <div class="page-topbar">
            <div class="conteiner-fluid">
                <div class="row align-items-center">
                    <div class="col-12">
                        <!-- breadcrumb -->
                        <div class="breadcrumb-wrap">
                            <nav aria-label="breadcrumb">
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item">Pages</li>
                                    <li class="breadcrumb-item" aria-current="page">Chat</li>
                                </ul>
                            </nav>
                            <!-- page-title -->
                            <div class="page-title">
                                <h2><a href="{% url 'dashbaord' %}"><i class="ri-arrow-left-line"></i></a> Chat</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- page-topbar END -->

        <!-- main-content start  -->
        <div class="main-content">
            <div class="row">
                <div class="col-12">
                    <!-- section-title -->
                    <div class="section-title">
                        <h4>CHAT WITH  coach's</h4>
                    </div>
                </div>
            </div>
            <div class="row g-4 mt-0">
                <div class="col-lg-12 col-xl-5 col-md-12">
                    <div class="row g-4">
                        <div class="col-12">
                            <!-- chat-owner-list Start -->
                            <div class="chat-owner-list">
                                <!-- chat-owner-body Start -->
                                <div class="chat-owner-body">
                                    <div class="row g-3">
                                        <div class="col-12">
                                            <!-- chat-sender-list Start -->
                                            <div class="chat-sender-list">
                                                <ul>
                                                    {% for coach in coaches_data %}
                                                    <!-- Loop Start  -->
                                                    <li class="view-chat {% if forloop.first %}first-item{% endif %}" data-coach-id="{{ coach.id }}"><!-- add view-chat class on click  -->
                                                        <div class="chat-sender">
                                                            <!-- sender-img -->
                                                            <div class="sender-img">
                                                                <img src="{{coach.coach_profile_image.url}}" alt="">
                                                            </div>
                                                            <div class="sender-massage">
                                                                <!-- sender-name  -->
                                                                <h5 class="sender-name">{{coach.coach_name}}</h5>
                                                                <p class="sender-text">{{coach.coach_expertise}}</p>
                                                            </div>
                                                        </div>
                                                    </li>
                                                  
                                                    <!-- Loop END  -->
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                            <!-- chat-sender-list END -->
                                            
                                        </div>
                                    </div>
                                </div>
                                <!-- chat-owner-body END -->
                            </div>
                            <!-- chat-owner-list END -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-xl-7 col-md-12">
                    <div class="card chat-card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <div class="chat-wrapper">
                                        <!-- usertalk-wrapper Start -->
                                        <div class="usertalk-wrapper" id="messages">
                                            <!-- owner msg  -->
                                            {% comment %} <div class="usertalk-inner">
                                                <div class="chatuser-img">
                                                    <img src="{% static 'assets/img/chat-user.svg' %}" class="img-responsive">
                                                </div>
                                                <div class="userleft-msg">
                                                    <!-- msg display  -->
                                                    <img src="{% static 'assets/img/icon/svg/send-file.svg' %}" alt="icon/svg/send-file" class="send-file" />
                                                    <span>Review this test and provide feedback on how it can be improved or adjusted to better measure the student's knowledge and understanding of the subject being tested.</span>
                                                    <div class="msg-dt">
                                                        <!-- time  -->
                                                        <label>Just now</label>
                                                        <div class="action-button-list">
                                                            <button class="btn-scolor"><i class="ri-add-line"></i>Add to task</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- msg reply -->
                                            <div class="usertalk-inner reply-inner">
                                                <div class="chatuser-img">
                                                    <img src="{% static 'assets/img/chat-user.svg' %}" class="img-responsive">
                                                </div>
                                                <div class="userleft-msg">
                                                    
                                                    <span> Review this test and provide feedback on how it can be improved or adjusted to better measure the student's knowledge and understanding of the subject being tested.</span>
                                                    <div class="msg-dt">
                                                        <label>just now</label>
                                                        <div class="action-button-list">
                                                            <button class="btn-scolor"><i class="ri-add-line"></i>Add to task</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="usertalk-inner" id="typing-indicator">
                                                <div class="chatuser-img">
                                                    <img src="{% static 'assets/img/chat-user.svg' %}" class="img-responsive">
                                                </div>
                                                <div class="userleft-msg">
                                                    <!-- typing -->
                                                    <span>
                                                        <div class="typing">
                                                            <span class="circle"></span>
                                                            <span class="circle"></span>
                                                            <span class="circle"></span>
                                                        </div>
                                                    </span>
                                                    <!-- puase btn  -->
                                                    <div class="msg-dt">
                                                        <button class="btn-scolor"><i class="ri-add-line"></i>Add to task</button>
                                                    </div>
                                                </div>
                                            </div> {% endcomment %}
                                        </div>
                                        <!-- usertalk-wrapper END -->

                                        <!-- chattype-wrapper start  -->
                                        <div class="chattype-wrapper">
                                            <div class="typeinput-wrapper">
                                                <!-- file upload btn -->
                                                <div class="input-file-icon">
                                                    <div class="upload-btn-wrapper">
                                                        <button class="border-0 p-0 bg-transparent"><img src="{% static 'assets/img/icon/svg/input-file.svg' %}" alt="icon/input-file"></button>
                                                        <input type="file" name="myfile">
                                                    </div>
                                                </div>
                                                <div class="input-main-input">
                                                    <input type="text" id='message-input' class="form-control" placeholder="Type '/' for commands">
                                                </div>
                                                <!-- chatsend-btn -->
                                                <div class="chatsend-btn">
                                                    <button class="" id="send-btn">
                                                        <i class="ri-send-plane-fill"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- chattype-wrapper END  -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- main-content END -->
    </section>
    <!-- page-layout END -->
    {% endblock %}
    {% block script %}
    <script>

        {% comment %} function scrollToBottom() {
            var chatWindow = document.getElementByClass('chat-wrapper');
            chatWindow.scrollTop = chatWindow.scrollHeight;
        } {% endcomment %}
        // WebSocket connection
        {% comment %} const uid ="{{uid}}";
        const cid ="{{cid}}"; {% endcomment %}
        const uid = "{{uid}}" ? "{{uid}}" : 0;
        const cid = "{{cid}}" ? "{{cid}}" : 0;
        {% comment %} console.log(uid,cid); {% endcomment %}
        const roomName = `room_${uid}_${cid}`;
        //const socket = new WebSocket(`ws://localhost:8000/ws/chat/${roomName}/`);
        const socket = new WebSocket(
            //'ws://' +
            'wss://' +
            window.location.host +
            '/ws/chat/' +
            roomName +
            '/'
        );
        console.log(socket)
        // Event listeners
        socket.onopen = function(event) {
            console.log('WebSocket connection established');
        };

        socket.onmessage = function(event) {
            const message = JSON.parse(event.data).message;
            //$('#messages').append(`<div>${message}</div>`);
            updateMessages();
            //scrollToBottom();
        };
            
            function updateMessages() {
                $.ajax({
                    url: `{% url 'get_messages' %}?uid=${parseInt(uid)}&cid=${parseInt(cid)}`,
                    type: 'GET',
                    success: function(data) {
                        console.log("update message data -> ",data)
                        var messages = data.messages;
                        // Assuming data is an array of chat objects
                        $('#messages').empty(); // Clear previous messages
                        
                        messages.forEach(function(chat) {
                            var messageHtml;
                            //console.log("chat: ",chat)
                if (chat[1] == "user") {
                    messageHtml = `
                        <div class="usertalk-inner reply-inner">
                            <div class="chatuser-img">
                                <img src="${chat[3].profilepic}" class="img-responsive">
                            </div>
                            <div class="userleft-msg">
                                <span>${chat[0]}</span>
                                <div class="msg-dt">
                                    <label>${chat[2]}</label>   
                                </div>
                            </div>
                        </div>
                    `;
                } else {
                    messageHtml = `
                        <div class="usertalk-inner" >
                            <div class="chatuser-img">
                                <img src="${chat[3].coach_profile_image}" class="img-responsive">
                            </div>
                            <div class="userleft-msg">
                                <span>${chat[0]}</span>
                                <p hidden>${chat[4]}</p>
                                <div class="msg-dt">
                                    <label>${chat[2]}</label>
                                    <div class="action-button-list">
                                        <button class="btn-scolor task_button" onclick="fetch_task()"><i class="ri-add-line"></i>Add to task</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    `;
                }
                // Append the message to the messages container
                $('#messages').append(messageHtml);
                        });
                    }
                });
            };
            
        // Update messages when the page loads
        $(document).ready(function() {
                updateMessages();
                //scrollToBottom();
        });
        const typingreplyIndicatorHTML = `
            <div class="usertalk-inner reply-inner">
                <div class="chatuser-img">
                    <img src="{% static 'assets/img/chat-user.svg' %}" class="img-responsive">
                </div>
                <div class="userleft-msg">
                    <!-- typing -->
                    <span>
                        <div class="typing">
                            <span class="circle"></span>
                            <span class="circle"></span>
                            <span class="circle"></span>
                        </div>
                    </span>
                    <!-- puase btn  -->
                    <div class="msg-dt">
                        <button class="btn-scolor"><i class="ri-add-line"></i>Add to task</button>
                    </div>
                </div>
            </div>
        `;
        // Event listener for send button
        $(document).ready(function() {
            //scrollToBottom();
        const csr = $("input[name=csrfmiddlewaretoken]").val();
        $('#send-btn').click(function() {
            $('#messages').append(typingreplyIndicatorHTML);
            const message = $('#message-input').val().trim();
            console.log("Message on send button click , Message is-> ",message)
            var formData ={
                //'csrfmiddlewaretoken': csr,
                'csrfmiddlewaretoken':$( "#csrfmiddlewaretoken" ).val(),
                'message': message,
                'uid':uid,
                'cid':cid,
            };
            if (message !== '') {
                $.ajax({
                    url: "{% url 'send_message' %}",
                    method: 'POST',
                    data: formData,
                    //$('#messages').append(typingreplyIndicatorHTML),
                    success: function(response) {
                        socket.send(JSON.stringify({'message': message}));
                        $('#message-input').val('');
                        updateMessages();
                        //scrollToBottom();
                        //alert(response.status)
                    }
                });
            }
        });
        const typingIndicatorHTML = `
            <div class="usertalk-inner" id="typing-indicator">
                <div class="chatuser-img">
                    <img src="{% static 'assets/img/chat-user.svg' %}" class="img-responsive">
                </div>
                <div class="userleft-msg">
                    <!-- typing -->
                    <span>
                        <div class="typing">
                            <span class="circle"></span>
                            <span class="circle"></span>
                            <span class="circle"></span>
                        </div>
                    </span>
                    <!-- puase btn  -->
                    <div class="msg-dt">
                        <button class="btn-scolor"><i class="ri-add-line"></i>Add to task</button>
                    </div>
                </div>
            </div>
        `;
        
        let typingIndicatorDisplayed = false;
        // Event listener for keyup event on input field
        $('#message-input').on('keyup', function() {
            // Check if the input field is empty
            if ($(this).val().trim() === '') {
                // If empty, remove the typing indicator
                $('#typing-indicator').remove();
                // Reset the flag
                typingIndicatorDisplayed = false;
            } else {
                // If not empty and typing indicator is not already displayed
                if (!typingIndicatorDisplayed) {
                    // Append the typing indicator HTML
                    $('#messages').append(typingIndicatorHTML);
                    // Set the flag to true
                    typingIndicatorDisplayed = true;
                }
            }
        }); 
    });
    // Handle Enter key press
    $('#message-input').keypress(function(event) {
        if (event.which === 13) {
            $('#send-btn').click();
        }
    });
    

    $('.view-chat').on('click', function() {
        // Get the coach ID from the data attribute
        var coachId = $(this).data('coach-id');
        var userId = {{ request.user.id }}; // This syntax is correct assuming you're rendering this script in a Django template
        
        // Generate the URL using JavaScript string formatting
        var chatUrl = "{% url 'chat' 0 0 %}";
        chatUrl = chatUrl.replace("0", userId).replace("0", coachId);
        
        // Redirect to the chat URL
        window.location.href = chatUrl;
    });

    if ($('.chat-sender-list ul').children().length === 0) {
        // If ul is empty, create a new li element with the message
        var messageLi = $('<li >').html('😔 There are no chats available at the moment.<br> <br> 💬✨ Please chat with our experts and get your doubts cleared. 🤔🔍');
        messageLi.click(function() {
            window.location.href='{% url "coach" %}'; // Replace 'your_coach_url_here' with the actual URL
        });
        // Append the new li element to the ul
        $('.chat-sender-list ul').append(messageLi);
    }

    function fetch_task() {
        var answerElement = event.target.closest('.usertalk-inner').querySelector('span');
        var answer = answerElement.textContent.toString();  // Convert answer to string
        var chatIdElement = event.target.closest('.usertalk-inner').querySelector('p');
        var chat_id = chatIdElement.textContent.toString();  // Convert answer to string
        var formData = new FormData();
        formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
        formData.append('answer', answer);
        formData.append('chat_id', chat_id);
        alert("Extracting Task, Please wait few seconds")
        $.ajax({
            url: "{% url 'get_task' %}",
            type: "POST",
            data: formData,
            processData: false,
            contentType: false,
            success: function(response) {
                // If the request is successful, alert the response
               if  (response.success)
               {
                    alert(response.message)
               }
               else
               {
                    alert(response.message)
               }
            },
            error: function(xhr, status, error) {
                // If there's an error with the request, alert an error message
                alert("Error: " + xhr.responseText);
            }
        });
    };
</script>

    {% endblock %}