{% extends "achievemate/dashboard/dashboard_base.html" %}
{% load static %}
{% block content %}
{% load custom_filters %}
    <!-- page-layout Start -->
    <section class="page-layout">
        <!-- mobile_view_header Start-->
        <header class="header mobile_view_header">
            <div class="container-fluid">
                <div class="nav-main">
                    <div class="logo-wrapper">
                        <div class="navbar-brand">
                            <a class="" href="#">
                                <img src="{% static 'assets/img/logo.svg' %}" alt="logo">
                            </a>
                        </div>
                    </div>
                    <!-- minimize_toggle -->
                    <div class="header-wrapper">
                        <span class="minimize_toggle">
                            <i class="ri-arrow-right-s-line"></i>
                        </span>
                    </div>
                </div>
            </div>
        </header>
        <!-- mobile_view_header END-->

        <!-- page-topbar Start -->
        <div class="page-topbar">
            <div class="conteiner-fluid">
                <div class="row align-items-center">
                    <div class="col-12">
                        <!-- breadcrumb -->
                        <div class="breadcrumb-wrap">
                            <nav aria-label="breadcrumb">
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item">Pages</li>
                                    <li class="breadcrumb-item" aria-current="page">Dashboard</li>
                                </ul>
                            </nav>
                            <!-- page-title -->
                            <div class="page-title">
                                <h2>Dashboard</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- page-topbar END -->

        <!-- main-content start  -->
        <div class="main-content">
            {% for tasks in all_tasks_collection%}
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <div class="simple-table sticky-table">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            <div class="task-head">
                                                <span class="task-title">task name</span>
                                               {{tasks.0.coach.coach_expertise}}
                                            </div>
                                        </th>
                                        <th>Coach Name</th>
                                        <th>Status</th>
                                        <th>Activity</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Loop start  -->
                                    {% for task in tasks %}
                                    <tr>
                                        <td>
                                            <div class="task-data">
                                                <span class="task-data-title">{{task.task_title|title}}</span>
                                                <span class="task-data-time"> Due : {{task.due_date}}</span>
                                                {% if task.due_date %}
                                                {% with remaining_days=task.due_date|remaining_days %}
                                                    {% if remaining_days < 0 %}
                                                        <span style="color: red;">Past due {{  remaining_days    |absolute_value}} days</span>
                                                    {% elif remaining_days >= 0 and remaining_days <= 4  %}
                                                        <span style="color: green;">Need Attention</span>
                                                    {% else %}
                                                        <span style="color: grey;">{{ remaining_days }} days remaining</span>
                                                    {% endif %}
                                                {% endwith %}
                                            {% else %}
                                                No due date set
                                            {% endif %}
                                            </div>
                                        </td>
                                        <td>{{task.coach.coach_name}}</td>
                                        <td>
                                                <select class="badge bg-warning" id="taskStatusDropdown_{{ task.id }}" style="border: none;" onchange="handleStatusChange(this)">
                                                    {% for status, _ in task.TASK_STATUS_CHOICES %}
                                                        <option value="{{ status }}" {% if status == task.task_status %} selected {% endif %}>{{ status }}</option>
                                                    {% endfor %}
                                                </select>
                                        </td> 
                                        <td><a href="#" data-bs-toggle="modal" data-bs-target="#WriteComment" data-task-id="{{task.id}}">Write
                                            comment</a></td>
                                        {% comment %} <td><a href="#" class="btn" data-bs-toggle="modal" data-bs-target="#commentModal">
                                            <span class="auth-icon"></span>
                                            <span class="auth-text"> Show Activity</span>
                                        </a></td> {% endcomment %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <tr>
                <td colspan="999" class="text-center text-scolor">
                    No Record Found!
                </td>
            </tr> 
            {% endfor %}
            {% comment %} <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <div class="simple-table sticky-table">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            <div class="task-head">
                                                <span class="task-title">task name</span>
                                                Health Expert
                                            </div>
                                        </th>
                                        <th>Coach Name</th>
                                        <th>Status</th>
                                        <th>Activity</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Loop start  -->
                                    <tr>
                                        <td>
                                            <div class="task-data">
                                                <span class="task-data-title">Work on non-verbal communication skills,
                                                    such as body language and eye contact.
                                                    Due : 27 Dec,203</span>
                                                <span class="task-data-time"> Due : 27 Dec,203 </span>
                                            </div>
                                        </td>
                                        <td>Wade Warren</td>
                                        <td>
                                            <span class="badge bg-success">In progress</span>
                                        </td>
                                        <td>Write comment</td>
                                    </tr>
                                    <!-- Loop END  -->
                                    <tr>
                                        <td colspan="999" class="text-center text-scolor">
                                            No Record Found!
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div> {% endcomment %}
        </div>
        <!-- main-content END -->
    </section>
    <!-- page-layout END -->

    <!-- Modal Write Comment -->
    <div class="modal fade timeline-modal" id="WriteComment" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered modal-fullscreen-xl-down">
            <div class="modal-content">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i
                        class="ri-close-line"></i></button>
                <div class="modal-body">
                    <h3 class="text-center" id="comment_title">Comment Title</h3>
                    <!-- timeline STart  -->
                    <div class="timeline">
                        <ul id="activity-log-list">
                            <li>
                                <div class="time">
                                    <!-- post date  -->
                                    <h4 class="p_date">01 Jan 2020</h4>
                                </div>
                                <div class="content">
                                    <!-- Author name  -->
                                    <h3 class="author_name">Author Name</h3>
                                    <!-- comment  -->
                                    <p class="author_comment">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                        Ipsum has been the industry's standard dummy text ever since the 1500s. </p>
                                </div>
                            </li>

                            <li>
                                <div class="time">
                                    <!-- post date  -->
                                    <h4 class="p_date">01 Feb 2020</h4>
                                </div>
                                <div class="content">
                                    <!-- Author name  -->
                                    <h3 class="author_name">Author Name</h3>
                                    <!-- comment  -->
                                    <p class="author_comment">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                        Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                </div>
                            </li>

                            <li>
                                <div class="time">
                                    <!-- post date  -->
                                    <h4 class="p_date">01 Mar 2020</h4>
                                </div>
                                <div class="content">
                                    <!-- Author name  -->
                                    <h3 class="author_name">Author Name</h3>
                                    <!-- comment  -->
                                    <p class="author_comment">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                        Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- timeline END -->
                    <div class="add-comment-box">
                        <h4 class="title">Write Comment</h4>
                        <form id="commentForm">
                            <div class="form-group">
                                <textarea type="text"  id="commentTextarea" name="" value="" placeholder="Enter Message"
                                    class="form-control" rows="5" required=""></textarea>
                            </div>
                            <div class="text-end mt-3">
                                <button class="btn btn-scolor btn-sm fw-semibold px-5 postButton" data-post-task-id="">Post</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Write Comment End -->
{% endblock %}
{% block script %}
<script>
function handleStatusChange(select) {
    var taskId = select.id.split('_')[1];
    var newStatus = select.value;

    // Send AJAX request to update task status
    $.ajax({
        url: '{% url "update_task_status" %}',
        type: 'POST',
        data: {
            task_id: taskId,
            new_status: newStatus,
            csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        success: function(response) {
            // Update the task status on success
            if (response.success)
            {
                console.log(response.message)
            }
            var selectedOption = select.options[select.selectedIndex];
            var newClass = "";
            
            switch(newStatus) {
                case 'Remaining':
                    newClass = 'badge bg-warning';
                    break;
                case 'In Progress':
                    newClass = 'badge bg-info';
                    break;
                case 'Done':
                    newClass = 'badge bg-success';
                    break;
                case 'Delayed':
                    newClass = 'badge bg-danger';
                    break;
                default:
                    newClass = 'badge bg-secondary';
            }
            
            // Remove all existing classes
            select.classList.remove('badge', 'bg-warning', 'bg-info', 'bg-success', 'bg-danger', 'bg-secondary');
             // Remove all existing classes and add the new class
             select.className = newClass;
        },
        error: function(xhr, status, error) {
            console.error(error);
        }
    });
}


document.addEventListener('DOMContentLoaded', function() {
    // Get all select elements with IDs starting with 'taskStatusDropdown_'
    var selects = document.querySelectorAll('select[id^="taskStatusDropdown_"]');
    
    // Iterate over each select element
    selects.forEach(function(select) {
        // Get the selected option's value
        var newStatus = select.value;
        var newClass = "";

        switch (newStatus) {
            case 'Remaining':
                newClass = 'badge bg-warning';
                break;
            case 'In Progress':
                newClass = 'badge bg-info';
                break;
            case 'Done':
                newClass = 'badge bg-success';
                break;
            case 'Delayed':
                newClass = 'badge bg-danger';
                break;
            default:
                newClass = 'badge bg-secondary';
        }

        // Set the class for the select element
        select.className = newClass;
    });
});

$(document).ready(function() {
    $('#WriteComment').on('show.bs.modal', function(e) {
        var task_id = $(e.relatedTarget).data('task-id');
        $('#WriteComment .add-comment-box button').attr('data-post-task-id', task_id);
        $.ajax({
            url: '/load_activity_log/' + task_id + '/',
            type: 'GET',
            success: function(response) {
                var activity_log_data = JSON.parse(response.activity_log_data);
                var task_data = JSON.parse(response.task_data);
                var user_data = JSON.parse(response.user_data);
                var comment_data = JSON.parse(response.comment_data);
                var activityLogList = $('#activity-log-list');
                activityLogList.empty(); // Clear existing content

                // Set task name in the comment_title element
                $('#comment_title').text(task_data[0].fields.task_title);
                var i=0;
                $.each(activity_log_data, function(index, log) {
                    var logDate = new Date(log.fields.created_date);
                    var formattedDate = formatDate(logDate);
                    var listItem = $('<li>');
                    listItem.append($('<div>').addClass('time').append($('<h4>').addClass('p_date').text(formattedDate)));
                    var contentDiv = $('<div>').addClass('content');
                    var user = user_data.find(u => u.pk === log.fields.user);
                    var username = user ? user.fields.username : 'Unknown User';
                    contentDiv.append($('<h3>').addClass('author_name').text(log.fields.notification_comment));
                    if (log.fields.notification_comment.includes("Task Added")){
                        contentDiv.append($('<p>').addClass('author_comment').text(task_data[0].fields.task_title));
                    }
                    else if (log.fields.notification_comment.includes("Commented on Task")){
                        
                        var taskComments = comment_data.filter(comment => comment.fields.tasks === task_id);
                            contentDiv.append($('<p>').addClass('author_comment').text(taskComments[i].fields.text));
                        i++;
                    }
                    
                    listItem.append(contentDiv);
                    activityLogList.append(listItem);
                });
            },
            error: function(xhr, status, error) {
                console.error(error);
            }
        });
    });
    // Add event listener to the "Post" button
$('.postButton').click(function() {
    // Get the comment text
    var comment = $('#commentTextarea').val();
    
    // Get the task_id from the button's data attribute
    var taskId = $(this).attr('data-post-task-id');
    
    // Make sure comment and task_id are not empty
    if (comment.trim() !== '' && taskId.trim() !== '') {
        // Send comment data to the server using AJAX
        $.ajax({
            url: '{% url "add_comment" %}',
            type: 'POST',
            data: {
                task_id: taskId,
                comment: comment,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function(response) {
                // Handle success response
                console.log('Comment added successfully.');
            },
            error: function(xhr, status, error) {
                // Handle error response
                console.error('Error:', error);
            }
        });
    } else {
        // Handle empty comment or task_id
        console.error('Comment or task ID is empty.');
    }
});

});
function formatDate(dateString) {
    var date = new Date(dateString);
    var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
    var day = date.getDate();
    var monthIndex = date.getMonth();
    var year = date.getFullYear();
    return day + ' ' + months[monthIndex] + ' ' + year;
}
</script>
{% endblock %}