{% extends "achievemate/dashboard/dashboard_base.html" %}
{% load static %}
{% block content %}
{% load custom_filters %}
    <!-- page-layout Start -->
    <section class="page-layout">
        <!-- mobile_view_header Start-->
        <header class="header mobile_view_header">
            <div class="container-fluid">
                <div class="nav-main">
                    <div class="logo-wrapper">
                        <div class="navbar-brand">
                            <a class="" href="#">
                                <img src="{% static 'assets/img/logo.svg' %}" alt="logo">
                            </a>
                        </div>
                    </div>
                    <!-- minimize_toggle -->
                    <div class="header-wrapper">
                        <span class="minimize_toggle">
                            <i class="ri-arrow-right-s-line"></i>
                        </span>
                    </div>
                </div>
            </div>
        </header>
        <!-- mobile_view_header END-->

         <!-- page-topbar Start -->
         <div class="page-topbar">
            <div class="conteiner-fluid">
                <div class="row align-items-center">
                    <div class="col-12">
                        <!-- breadcrumb -->
                        <div class="breadcrumb-wrap">
                            <nav aria-label="breadcrumb">
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item">Pages</li>
                                    <li class="breadcrumb-item" aria-current="page">Profile</li>
                                </ul>
                            </nav>
                            <!-- page-title -->
                            <div class="page-title">
                                <h2> Profile</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- page-topbar END -->

        <!-- main-content start  -->
        <div class="main-content">
            <div class="row">
                <div class="col-12">
                    <!-- section-title -->
                    <div class="section-title">
                        <h4>User Profile</h4>
                    </div>
                </div>
            </div>
            <div class="row g-4 mt-0">
                <div class="col-12">
                    <div class="row">
                        <div class="col-xxl-10">
                            <form class="edit-profile-form w-100" id="profile-form" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-12">
                                        <!-- profile-header -->
                                        <div class="profile-header">
                                            <!-- profile -->
                                            <div class="profile">
                                                <!-- profile-img -->
                                                <div class="profile-img">
                                                    <img src="{{user_profile_data.profilepic.url}}" alt="img/profile" />
                                                </div>
                                                <div class="profile-content">
                                                    <!-- p_name -->
                                                    <h4 class="p_name">{{request.user.username}}</h4>
                                                    <!-- p_designation -->
                                                    <span class="p_designation">Product Design</span>
                                                    <!-- p_location -->
                                                    <span class="p_location">Lagos, Nigeria</span>
                                                </div>
                                            </div>
                                            <!-- profile-action -->
                                            <div class="profile-action">
                                                <!-- cstm-profile-upload/  -->
                                                <div class="cstm-profile-upload">
                                                    <div class="upload-btn-wrapper">
                                                        <button class="btn btn-scolor">Upload New Photo </button>
                                                        <input type="file" name="profilepic" id="profilepic" accept="image/*">
                                                    </div>
                                                </div>
                                                <!-- Delete btn  -->
                                                <button class="btn btn-outline" id="deleteBtn">Delete</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row g-4">
                                    <!-- First Name -->
                                    <div class="col-lg-6 col-xl-4 col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">First Name</label>
                                            <input type="text" name="firstname" value="{% if user_profile_data.firstname %}{{ user_profile_data.firstname }} {% endif %}" placeholder="Enter Firstname" class="form-control" />
                                        </div>
                                    </div>
                                    <!-- Last Name -->
                                    <div class="col-lg-6 col-xl-4 col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">Last Name</label>
                                            <input type="text" name="lastname" value="{% if user_profile_data.lastname %}{{user_profile_data.lastname}}{% endif %}" placeholder="Enter Lastname" class="form-control" />
                                        </div>
                                    </div>
                                    <!-- Email Address -->
                                    <div class="col-lg-6 col-xl-4 col-md-6">
                                        <div class="form-group with-label with-icon icon-start">
                                            <label class="form-label">Email Address</label>
                                            <input type="text" name="" value="{{request.user.email}}" placeholder="" class="form-control" />
                                            <span class="input-icon"><i class="ri-mail-fill"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <!-- divider  -->
                                <div class="row mt-4 mb-4">
                                    <div class="col-12">
                                        <hr />
                                    </div>
                                </div>
                                <div class="row g-4">
                                    <!-- Current Password -->
                                    <div class="col-lg-6 col-xl-4 col-md-6">
                                        <div class="form-group with-label with-icon icon-start">
                                            <label class="form-label">Current Password</label>
                                            <input type="password" name="current_password" value="" placeholder="" class="form-control" />
                                            <span class="input-icon"><i class="ri-key-fill"></i></span>
                                        </div>
                                    </div>
                                    <!-- New Password -->
                                    <div class="col-lg-6 col-xl-4 col-md-6">
                                        <div class="form-group with-label with-icon icon-start">
                                            <label class="form-label">New Password</label>
                                            <input type="password" name="new_password" value="" placeholder="" class="form-control" />
                                            <span class="input-icon"><i class="ri-key-fill"></i></span>
                                        </div>
                                    </div>
                                    <!-- Confirm New Password -->
                                    <div class="col-lg-6 col-xl-4 col-md-6">
                                        <div class="form-group with-label with-icon icon-start">
                                            <label class="form-label">Confirm New Password</label>
                                            <input type="password" name="confirm_new_password" value="" placeholder="" class="form-control" />
                                            <span class="input-icon"><i class="ri-key-fill"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row g-4 mt-2">
                                    <div class="col-12">
                                        <div class="d-flex gap-3 justify-content-xl-end justify-content-center">
                                            <button type="reset" class="btn btn-outline">Cancel</button>
                                            <button id="save-profile-btn" class="btn btn-scolor">Save Changes</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <div class="simple-table sticky-table">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Plan data</th>
                                        <th>Amount</th>
                                        <th>Start date</th>
                                        <th>End date</th>
                                        {% comment %} <th>Is Active</th> {% endcomment %}
                                        <th>Upgrade</th>
                                        <th>Cancel</th>
                                        </tr>
                                </thead>
                                <tbody>
                                    <!-- Loop start  -->
                                     {% for subscription in subscription_data %}
                                     <tr>
                                        <td>{{ subscription.Plan }}</td>
                                        <td>${{ subscription.Amount }}</td>
                                        <td>{{ subscription.Start_Date|format_datetime }}</td>
                                        <td>{{ subscription.End_Date|format_datetime }}</td>
                                        {% comment %} <td>
                                            {% if subscription.Is_Active %}
                                            <span style="color: green;">Active</span>
                                            {% else %}
                                            <span style="color: red;">Inactive</span>
                                            {% endif %}
                                        </td> {% endcomment %}
                                        <td>
                                            {% if forloop.first %}
                                            <button id="subscription_upgrade" data-plan-id="{{subscription.plan_id}}" data-customer-id="{{subscription.customer_id}}" class="btn btn-scolor">Upgrade Subscription</button>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if forloop.first %}
                                            <button id="subscription_cancel" data-plan-id="{{subscription.plan_id}}" data-customer-id="{{subscription.customer_id}}" class="btn btn-outline">Cancel Subscription</button>
                                            {% endif %}
                                    </tr>
                                    {% endfor %}
                                    <!-- Loop End  -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- main-content END -->
    </section>
    <!-- page-layout END -->

    <!-- Assuming you are using Bootstrap for the modal -->
<div class="modal fade" id="subscriptionModal" tabindex="-1" aria-labelledby="subscriptionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="subscriptionModalLabel">Select Subscription Plan</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- Subscription plans -->
          <div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-2 row-cols-1 g-3">
            {% for package in packages %}
              <div class="col">
                <div class="subscription-wrap">
                  <div class="subscription-content">
                    <div class="subscription-header">
                      <span class="subscription-plan">{{ package.package_name }}</span>
                      
                    </div>
                    <div class="subscription-body">
                      <div class="plan-list">
                        <ul>
                          {% for feature in features %}
                            {% if feature.subscription_package == package %}
                              <li><i class="ri-check-fill"></i>{{ feature.feature_name }}</li>
                            {% endif %}
                          {% endfor %}
                        </ul>
                      </div>
                    </div>
                  </div>
                  {% for subscription in subscriptions %}
                    {% if subscription.subscription_package == package %}
                      <div class="subscription-footer">
                        <button role="button" data-subscription-new-id="{{subscription.id}}" class="btn btn-mcolor w-100">${{ subscription.price }} for {{ subscription.duration }} months</button>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
  
    {% endblock %}
    {% block script %}
    {% comment %} <script>
        $('#save-profile-btn').click(function(e) {
            e.preventDefault();
            var form_data = new FormData($('#profile-form')[0]);
            form_data.append('csrfmiddlewaretoken', $('#csrfmiddlewaretoken').val());
            console.log(form_data)
            $.ajax({
                method: 'POST',
                url: '{% url "profile" %}',  // Replace 'profile' with your actual URL name
                data: form_data,
                processData: false,  // Prevent jQuery from automatically processing the data
                contentType: false,
                success: function(response) {
                   if(response.success)
                   {
                    alert(response.message)
                   }
                },
                error: function(xhr, status, error) {
                    alert(error)
                }
            });
        });
    </script> {% endcomment %}
<script>
    $('#subscription_cancel').click(function (e)
    {
        let data = {
            'plan_id': $('#subscription_upgrade').attr('data-plan-id'),
            'customer_id': $('#subscription_upgrade').attr('data-customer-id'),
        };
        e.preventDefault();
        if(confirm("Cancel Subscription")) {
            $.ajax({
                url: "/delete-subscription",
                data: data,
                method: 'POST',
                success: function(response) {
                   if(response['message'] == "SUCCESS") {
                       alert("Subscription canceled successfully");
                       window.location.reload();
                    } else {
                        if(response['message'] == "FAILURE") {
                            alert("Subscription not cancelled , Please try again later.");
                            window.location.reload();
                         }
                         else
                         {
                             alert("Some error occured in Subscription cancellation on server");
                             window.location.reload();
                         }
                   }
                }, 
                error: function(error){
                    console.error(error)
                }
            })
        } else {
            return
        }
    });


    $('#subscription_upgrade').click(function (e)
    {
        e.preventDefault();

        let subscription_new_id=null;

        $('#subscriptionModal').modal('show');

        $('#subscriptionModal').on('click', '.btn-mcolor', function() {
            subscription_new_id = $(this).data('subscription-new-id');
            $('#subscriptionModal').modal('hide');
            if (subscription_new_id) {
                if (confirm("Upgrade Subscription?")) {
                    let data = {
                        'plan_id': $('#subscription_upgrade').attr('data-plan-id'),
                        'customer_id': $('#subscription_upgrade').attr('data-customer-id'),
                        'new_subscription_id': subscription_new_id
                    };
                    console.log(data)
                    $.ajax({
                        url: "/upgrade-subscription",
                        data: data,
                        method: 'POST',
                        success: function(response) {
                            if (response['message'] === "SUCCESS") {
                                alert("Plan upgraded successfully!");
                                window.location.reload();
                            } else {
                                alert("Plan upgrade failed! Please try again later.");
                            }
                        },
                        error: function(error) {
                            console.error(error);
                        }
                    });
                }
            } else {
                alert("Please select a subscription.");
            }
        });
    });

    function cancel_subscription()
    {

    }
    $(document).ready(function () {
        $('#save-profile-btn').click(function (e) {
            e.preventDefault();

            var formData = new FormData($('#profile-form')[0]);

            // Append CSRF token to form data
            formData.append('csrfmiddlewaretoken', $('input[name=csrfmiddlewaretoken]').val());

            $.ajax({
                url: '{% url "profile" %}', // Replace this with the URL to your Django view for updating the profile
                type: 'POST',
                enctype: 'multipart/form-data',
                processData: false,
                contentType: false,
                data: formData,
                success: function (data) {
                    // Handle success response
                    if(data.success)
                    {
                    alert(data.message);
                    location.reload()
                    }
                },
                error: function (xhr, status, error) {
                    // Handle error response
                    console.error('Error updating profile:', error);
                }
            });
        });
        $("#deleteBtn").click(function(e) {
            e.preventDefault();
            $("#profilepic").val("");
        });
    });


</script>

    {% endblock %}