{% extends "achievemate/main_base.html" %}
{% load static %}
{% block content %}
        <!-- page-title-section Start  -->
        <section class="page-title-section aboutus-page">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumb-wrap">
                            <nav aria-label="breadcrumb">
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">About us</li>
                                </ul>
                            </nav>
                            <!-- page-title -->
                            <div class="page-title">
                                <h2>About us</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- page-title-section END  -->

        <!-- welcome-section-Start -->
        <section class="welcome-section">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-11 m-auto">
                        <!-- section-title -->
                        <div class="section-title text-center">
                            <h3>Welcome to AchieveMate, Your Personal AI Coach</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-11 m-auto">
                        <!-- about-desc -->
                        <div class="about-desc">
                            <p>AchieveMate harnesses the power of scientifically proven methods to keep you consistently motivated and on track, ensuring your success in meeting personal and professional goals. Our sophisticated models are trained in cutting-edge research from psychology, goal-setting theory, and personal achievement strategies, providing users with a uniquely effective and personalized experience. By integrating the latest advancements in these fields, AchieveMate offers a dynamic, evidence-based approach to goal attainment, revolutionizing the way individuals pursue and achieve their aspirations.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- welcome-section END -->

        <!-- topzero-p-section-Start -->
        <section class="topzero-p-section">
            <div class="container">
                <div class="row g-4 align-items-center">
                    <div class="col-md-6 col-lg-5">
                        <div class="text-md-start text-center">
                            <img src="{% static 'assets/img/about.svg' %}" alt="img/about" class="img-responsive" />
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 ms-auto">
                        <!-- section-title -->
                        <div class="section-title">
                            <h3>Empowering You with AI Technology</h3>
                            <p class="text-dark">Our journey began with a simple yet powerful vision: to make personalized coaching accessible to everyone. With this in mind, we've developed an interactive AI coach that's not just a tool, but a companion in your journey towards achieving your aspirations. Our AI technology is designed to understand your unique needs, answer your questions, and provide tailored advice and encouragement.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- topzero-p-section END -->

        <!-- interactive-section-Start --> 
        <section class="interactive-section bg-color-yes">
            <!-- pattern-one -->
            <img src="{% static 'assets/img/pattern-one.svg' %}" class="section-shape bottom-left" alt="img/pattern-one">
            <!-- pattern-two  -->
            <img src="{% static 'assets/img/pattern-two.svg' %}" class="section-shape top-right" alt="img/pattern-two">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-11 m-auto">
                        <!-- section-title -->
                        <div class="section-title text-center">
                            <h3>Interactive, Intuitive, and Insightful</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-11 m-auto">
                        <!-- about-desc -->
                        <div class="about-desc">
                            <p><strong>AchieveMate</strong> is more than just an application; it's a dynamic coaching experience. Our platform allows you to set and track various goals, from professional milestones to personal well-being. The AI coach interacts with you, learning from your responses and adapting to your evolving needs. This ensures a coaching experience that is as unique as you are.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- interactive-section END -->

        <!-- goal-section-Start -->
        <section class="goal-section">
            <div class="container">
                <div class="row g-4 align-items-center">
                    <div class="col-md-6 col-lg-6">
                        <!-- section-title -->
                        <div class="section-title">
                            <h3>Your Goals, Our Commitment</h3>
                            <p class="text-dark">We are committed to helping you unlock your full potential. Our team, comprising tech enthusiasts and experienced coaches, works tirelessly to ensure that our AI coach remains up-to-date with the latest advancements in AI and coaching methodologies. This commitment to excellence means you're not just getting an app, but a continuously evolving partner in your personal and professional growth.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-5 ms-auto">
                        <div class="text-md-start text-center">
                            <img src="{% static 'assets/img/goal.svg' %}" alt="img/goal" class="img-responsive" />
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- goal-section END -->

        <!-- grey-bg-section-Start --> 
        <section class="grey-bg-section">
            <!-- pattern-one -->
            <img src="{% static 'assets/img/pattern-one.svg' %}" class="section-shape bottom-left" alt="img/pattern-one">
            <!-- pattern-two  -->
            <img src="{% static 'assets/img/pattern-two.svg' %}" class="section-shape top-right" alt="img/pattern-two">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-11 col-xl-9 m-auto">
                        <!-- section-title -->
                        <div class="section-title text-center mb-3">
                            <h3 class="text-mcolor">Join Us on a Journey of Transformation</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-11 col-xl-9 m-auto">
                        <!-- about-desc -->
                        <div class="about-desc">
                            <p> At <strong>AchieveMate</strong>, your goals are our passion. We invite you to embark on this transformative journey with us. Let's achieve greatness together, one goal at a time.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- grey-bg-section END -->
{% endblock %}