{% extends "achievemate/main_base.html" %}
{% load static %}
{% block content %}
 
 <!-- banner-section-Start -->
        <section class="banner-section">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="owl-carousel owl-theme banner-slider">
                            <!-- item 01 -->
                            <!-- loop Start  -->
                            <div class="item">
                                <div class="row align-items-center g-4">
                                    <div
                                        class="col-xl-5 col-xxl-5 col-lg-5 col-md-6 col-sm-7 col-12 mx-auto order-lg-2">
                                        <!-- banner-img -->
                                        <div class="banner-img text-center text-lg-end text-center">
                                            <img src="{% static 'assets/img/banner.svg' %}" alt="banner-img"
                                                class="img-responsive m-auto">
                                        </div>
                                    </div>
                                    <div class="col-xl-7 col-md-10 col-xxl-7 col-lg-7 col-sm-10 col-11 mx-auto">
                                        <!-- banner-content -->
                                        <div class="banner-content text-center text-lg-start mb-3">
                                            <!-- banner Title -->
                                            <h2>Give yourself new opportunities each day.</h2>
                                            <!-- banner Desc -->
                                            <p>With <strong>AchieveMate</strong> , we believe in the power of
                                                self-discovery and
                                                personal growth. Our mission is to guide you on a transformative journey
                                                towards
                                                unlocking your full potential and living a life aligned with your
                                                deepest aspirations.
                                            </p>
                                            <!-- btn  -->
                                            <a href="#" class="btn btn-scolor">Find Your Coach</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- loop END  -->

                            <!-- item 02 -->
                            <div class="item">
                                <div class="row align-items-center g-4">
                                    <div
                                        class="col-xl-5 col-xxl-5 col-lg-5 col-md-6 col-sm-7 col-12 mx-auto order-lg-2">
                                        <!-- banner-img -->
                                        <div class="banner-img text-center text-lg-end text-center">
                                            <img src="{% static 'assets/img/banner.svg' %}" alt="banner-img"
                                                class="img-responsive m-auto">
                                        </div>
                                    </div>
                                    <div class="col-xl-7 col-md-10 col-xxl-7 col-lg-7 col-sm-10 col-11 mx-auto">
                                        <!-- banner-content -->
                                        <div class="banner-content text-center text-lg-start mb-3">
                                            <!-- banner Title -->
                                            <h2>Give yourself new opportunities each day.</h2>
                                            <!-- banner Desc -->
                                            <p>With <strong>AchieveMate</strong> , we believe in the power of
                                                self-discovery and
                                                personal growth. Our mission is to guide you on a transformative journey
                                                towards
                                                unlocking your full potential and living a life aligned with your
                                                deepest aspirations.
                                            </p>
                                            <!-- btn  -->
                                            <a href="#" class="btn btn-scolor">Find Your Coach</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- item 03 -->
                            <div class="item">
                                <div class="row align-items-center g-4">
                                    <div
                                        class="col-xl-5 col-xxl-5 col-lg-5 col-md-6 col-sm-7 col-12 mx-auto order-lg-2">
                                        <!-- banner-img -->
                                        <div class="banner-img text-center text-lg-end text-center">
                                            <img src="{% static 'assets/img/banner.svg' %}" alt="banner-img"
                                                class="img-responsive m-auto">
                                        </div>
                                    </div>
                                    <div class="col-xl-7 col-md-10 col-xxl-7 col-lg-7 col-sm-10 col-11 mx-auto">
                                        <!-- banner-content -->
                                        <div class="banner-content text-center text-lg-start mb-3">
                                            <!-- banner Title -->
                                            <h2>Give yourself new opportunities each day.</h2>
                                            <!-- banner Desc -->
                                            <p>With <strong>AchieveMate</strong> , we believe in the power of
                                                self-discovery and
                                                personal growth. Our mission is to guide you on a transformative journey
                                                towards
                                                unlocking your full potential and living a life aligned with your
                                                deepest aspirations.
                                            </p>
                                            <!-- btn  -->
                                            <a href="#" class="btn btn-scolor">Find Your Coach</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- banner-section-End -->

        <!-- about-section-Start -->
        <section class="about-section">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-11 m-auto">
                        <!-- section-title -->
                        <div class="section-title text-center">
                            <h3>About Us</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-11 m-auto">
                        <!-- about-desc -->
                        <div class="about-desc">
                            <p>Welcome to <strong>AchieveMate</strong>, where we're revolutionizing the way you pursue
                                and achieve your goals. Our innovative web application harnesses the power of artificial
                                intelligence to offer personalized coaching like never before. Whether you're looking to
                                advance in your career, improve personal skills, or embark on a new fitness journey, our
                                AI coach is here to guide you every step of the way.</p>
                            <p>Ready to embark on a journey of self-discovery and growth? Explore our coaching programs,
                                meet our experienced coaches, and take the first step toward unlocking your full
                                potential with us.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- about-section END -->

        <!-- how-it-work section-Start -->
        <section class="how-it-work-section zero-p-section">
            <!-- pattern-one -->
            <img src="{% static 'assets/img/pattern-one.svg' %}" class="section-shape bottom-left" alt="img/pattern-one">
            <!-- pattern-two  -->
            <img src="{% static 'assets/img/pattern-two.svg' %}" class="section-shape top-right" alt="img/pattern-two">
            <div class="container">
                <div class="row g-3 align-items-center">
                    <div class="col-lg-12 col-xl-4">
                        <div class="py-3 py-xl-5 pe-0 pe-xl-4">
                            <!-- section-title -->
                            <div class="section-title">
                                <h3 class="text-white">How It Works</h3>
                            </div>
                            <!-- how-it-work-desc -->
                            <div class="how-it-work-desc">
                                <p>Embarking on your Ai coaching journey with AchieveMate is a simple and empowering
                                    process. We've streamlined the path to personal and professional growth to make it
                                    easy for you to get started. Here's a step-by-step guide on how it works.</p>
                                <p>Explore our Ai coaching programs, connect with a coach, and take the first step
                                    towards a brighter future with <strong>AchieveMate</strong>.</p>
                                <a href="#" class="btn btn-scolor mt-4">Find Your Coach</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-xl-8">
                        <!-- work-process-wrap -->
                        <div class="work-process-wrap">
                            <!-- work-process-wrap-bg -->
                            <div class="work-process-wrap-bg"></div>
                            <div class="row g-4 align-items-center">
                                <div class="col-lg-6">
                                    <!-- work-process  --> <!-- process-coach  -->
                                    <div class="work-process process-coach">
                                        <img src="{% static 'assets/img/process-line-01.svg' %}" alt="img/process-line-01"
                                            class="process-line-shape-top" />
                                        <img src="{% static 'assets/img/Choose_Coach.png' %}" alt="img/Choose_Coach"
                                            class="process-icon" />
                                        <h4 class="process-title">Choose Your Coach</h4>
                                        <p class="process-desc">Empower yourself to make positive changes in your life
                                            with the guidance of our exceptional coaching team. Choose the coach that
                                            resonates with you and take the first step towards a more fulfilling and
                                            successful future.</p>
                                    </div>
                                    <!-- work-process process-journey -->
                                    <div class="work-process process-journey">
                                        <img src="{% static 'assets/img/Start_Journey.png' %}" alt="img/Start_Journey.png' %}"
                                            class="process-icon" />
                                        <h4 class="process-title">Start Your Journey</h4>
                                        <p class="process-desc">Welcome to a transformative experience at
                                            <strong>AchieveMate</strong>. Your journey towards personal and professional
                                            growth begins here. Our dedicated team of coaches is committed to guiding
                                            you through a path of self-discovery, empowerment, and success.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <!-- work-process process-set-goal -->
                                    <div class="work-process process-set-goal">
                                        <img src="{% static 'assets/img/process-line-02.svg' %}" alt="img/process-line-02"
                                            class="process-line-shape-bottom" />
                                        <img src="{% static 'assets/img/Set_Goal.png' %}" alt="img/Set_Goal.png' %}"
                                            class="process-icon" />
                                        <h4 class="process-title">Set Your Goals</h4>
                                        <p class="process-desc">Ready to make a positive change? Start setting and
                                            achieving your goals with the support of our dedicated coaching team.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- how-it-work-section END -->

        <!-- ourcoach-section-Start -->
        <section class="ourcoach-section">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-11 m-auto">
                        <!-- section-title -->
                        <div class="section-title text-center">
                            <h3>Our Coach</h3>
                        </div>
                    </div>
                </div>
                <div class="row row-cols-xl-4 row-cols-lg-3 row-cols-md-2 row-cols-sm-2 row-cols-1 g-xl-5 g-3 mt-0">
                    <!-- Loop start  -->
                    <div class="col">
                        <!-- img-wrapper -->
                        <div class="img-wrapper">
                            <!-- img-thumbnail -->
                            <div class="img-thumbnail">
                                <img src="{% static 'assets/img/coach/coach-01.jpg' %}" alt="coach/coach-01" />
                            </div>
                            <!-- img-content -->
                            <div class="img-content">
                                <div class="img-content-head">
                                    <!-- title -->
                                    <h4 class="title">Jacob Jones</h4>
                                    <!-- designation -->
                                    <span class="designation"> Life Coaching Experts</span>
                                </div>
                                <!-- desc -->
                                <p class="desc">
                                    Navigate the world of finance with confidence under the guidance of Coach Jones.
                                    With a rich background in financial planning and a knack for making complex concepts
                                    easy to understand, Jones is your go-to expert foExpertsr all things money-related.
                                    From budgeting to investing, Jones offers practical, tailored advice to help you
                                    make informed financial decisions.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Loop END  -->
                    <div class="col">
                        <!-- img-wrapper -->
                        <div class="img-wrapper">
                            <!-- img-thumbnail -->
                            <div class="img-thumbnail">
                                <img src="{% static 'assets/img/coach/coach-02.jpg' %}" alt="coach/coach-02" />
                            </div>
                            <!-- img-content -->
                            <div class="img-content">
                                <div class="img-content-head">
                                    <!-- title -->
                                    <h4 class="title">Amelia Smith</h4>
                                    <!-- designation -->
                                    <span class="designation"> Health Experts </span>
                                </div>
                                <!-- desc -->
                                <p class="desc">
                                    Amelia Smith is a distinguished health expert specializing in nutrition, exercise,
                                    and diet, with over fifteen years of experience in the wellness industry. Her
                                    comprehensive approach combines the latest scientific research with practical,
                                    everyday strategies to help her clients achieve optimal health.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <!-- img-wrapper -->
                        <div class="img-wrapper">
                            <!-- img-thumbnail -->
                            <div class="img-thumbnail">
                                <img src="{% static 'assets/img/coach/coach-03.jpg' %}" alt="coach/coach-03" />
                            </div>
                            <!-- img-content -->
                            <div class="img-content">
                                <div class="img-content-head">
                                    <!-- title -->
                                    <h4 class="title">Michael Williams</h4>
                                    <!-- designation -->
                                    <span class="designation"> Business Idea Experts </span>
                                </div>
                                <!-- desc -->
                                <p class="desc">
                                    Mark Miller is a renowned career coach with a focus on helping individuals find the
                                    right career path, achieve work-life balance, and secure a fulfilling income. With
                                    over twenty years in career counseling, Mark has a knack for uncovering his clients'
                                    true passions and aligning them with viable career opportunities.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <!-- img-wrapper -->
                        <div class="img-wrapper">
                            <!-- img-thumbnail -->
                            <div class="img-thumbnail">
                                <img src="{% static 'assets/img/coach/coach-04.jpg' %}" alt="coach/coach-04" />
                            </div>
                            <!-- img-content -->
                            <div class="img-content">
                                <div class="img-content-head">
                                    <!-- title -->
                                    <h4 class="title">Mark Miller</h4>
                                    <!-- designation -->
                                    <span class="designation"> Career Experts</span>
                                </div>
                                <!-- desc -->
                                <p class="desc">
                                    Michael Williams stands out as a Business Idea Expert, renowned for his exceptional
                                    ability to nurture and develop innovative business concepts. With over eighteen
                                    years of experience in entrepreneurship and business consulting, Michael has become
                                    a pivotal figure for aspiring entrepreneurs and established business owners alike.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- about-section END -->


        {% endblock %}
