<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load socialaccount %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AchieveMate</title>
    <!-- bootstrap css -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">      
    <link rel="stylesheet" href="{% static 'assets/css/shortcode.css' %}">
    <!-- owl.carousel -->
    <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
    <!-- remixicon css -->
    <link rel="stylesheet" href="{% static 'assets/css/remixicon.css' %}">
</head>

<body>
    <!-- main-page Start  -->
    <div class="main-page">
        <!-- header Start -->
        <header class="header">
            <!-- topbar -->
            <div class="topbar">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <!-- topbar-content -->
                            <div class="topbar-content">
                                <!-- mail-wrap  -->
                                <div class="mail-wrap">
                                    <a href="mailto:help@achieveMate.com" class="text-white"><i
                                            class="ri-mail-check-fill me-1"></i>help@achieveMate.com</a>
                                </div>
                                <!-- logo -->
                                <div class="navbar-brand">
                                    <a class="logo" href="{% url 'index' %}"><img src="{% static 'assets/img/logo.svg' %}" alt="logo" /></a>
                                </div>
                                <!-- auth-btn-group -->
                                <!-- user-without-login -->
                                <div class="auth-btn-group user-without-login">
                                    <ul>
                                        {% if not user.is_authenticated %}
                                        <li>
                                            <!-- Sign In -->
                                            <a href="#" class="btn" data-bs-toggle="modal" data-bs-target="#UserLogin">
                                                <span class="auth-icon"><i class="ri-login-circle-line"></i></span>
                                                <span class="auth-text"> Login</span>
                                            </a>
                                        </li>
                                        <li>
                                            <!-- Sign Up -->
                                            <a href="#" class="btn btn-mcolor" data-bs-toggle="modal"
                                                data-bs-target="#UserSignUp">
                                                <span class="auth-icon"><i class="ri-user-add-line"></i></span>
                                                <span class="auth-text">Sign Up</span>
                                            </a>
                                        </li>
                                        {% else %}
                                        <li class="header-logout-btn">
                                            <!-- Logout -->
                                            {% if user.is_authenticated %}
                                            <a href="{% url 'logout' %}" class="btn">
                                                <span class="auth-icon"><i class="ri-logout-box-r-line"></i></span>
                                                <span class="auth-text"> Logout</span>
                                                {% endif %}
                                            </a>
                                        </li>
                                        {% endif %}
                                    </ul>
                                    <!-- navbar-toggler -->
                                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
                                        aria-expanded="false" aria-label="Toggle navigation">
                                        <i class="ri-menu-2-line"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- navbar -->
            <nav class="navbar navbar-expand-lg">
                <div class="container">
                    <!-- nav-main -->
                    <div class="nav-main">
                        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                            <ul class="navbar-nav">
                                <!-- Home -->
                                <li class="nav-item ">
                                    <a class="nav-link" aria-current="page" href="{% url 'index' %}">Home</a>
                                </li>
                                <!-- About Us -->
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'about_us' %}">About Us</a>
                                </li>
                                <!-- Our  Coaches -->
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'our_coach' %}">Our Coaches</a>
                                </li>
                                <!-- Services -->
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'services' %}">Services</a>
                                </li>
                                <!-- Testimonials -->
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'testimonials'%}">Testimonials</a>
                                </li>
                                <!-- Subscription  -->
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'subscription'%}">Subscription </a>
                                </li>
                                {% if user.is_authenticated %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'dashboard'%}">Dashboard </a>
                                </li>

                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <!-- header END -->


        {% block content %}


        {% endblock %}



        <!-- footer Start -->
        <footer class="footer">
            <!-- main-footer Start -->
            <div class="main-footer">
                <div class="container">
                    <div class="row g-3">
                        <div class="col-lg-5 col-md-4 col-sm-12">
                            <!-- footer-logo -->
                            <div class="footer-logo mb-3">
                                <a href="index.html" class="d-flex align-items-center logo">
                                    <img src="{% static 'assets/img/logo.svg' %}" alt="img/logo">
                                </a>
                            </div>
                            <!-- Contact Us -->
                            <div class="footer-links footer-contact">
                                <h5 class="mb-2">Contact Us</h5>
                                <ul class="nav flex-column">
                                    <li class="nav-item"><a href="tel:+123 400 123" class=""><i
                                                class="ri-phone-fill"></i>Call : +123 400 123</a></li>
                                    <li class="nav-item"><a href="mailto:example@mail.com" class=""><i
                                                class="ri-mail-fill"></i>example@mail.com</a>
                                    </li>
                                    <li class="nav-item">
                                        <i class="ri-map-pin-2-fill"></i>
                                        Red Sand Research,Inc <br> 58 East Columbus Ct <br> Salt Lake City, UT 84103
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-8 col-sm-12">
                            <div class="row g-3">
                                <div class="col-sm-6">
                                    <!-- Explore -->
                                    <div class="footer-links pt-xl-4">
                                        <h5>Explore</h5>
                                        <ul class="nav flex-column">
                                            <li class="nav-item"><a href="#" class="">Home</a></li>
                                            <li class="nav-item"><a href="#" class="">About</a></li>
                                            <li class="nav-item"><a href="#" class="">Course</a></li>
                                            <li class="nav-item"><a href="#" class="">Blog</a></li>
                                            <li class="nav-item"><a href="#" class="">Contact</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <!-- Subscribe -->
                                    <div class="footer-links pt-xl-4">
                                        <h5>Subscribe</h5>
                                        <p class="footer-desc">Lorem Ipsum has been them an industry printer took a
                                            galley make book.</p>
                                        <form class="footer-subscribe-form">
                                            <div class="form-group mb-3">
                                                <input type="text" name="" value="" class="form-control"
                                                    placeholder="Email here" />
                                            </div>
                                            <button class="btn btn-orange">Subscribe Now</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- main-footer END -->
            <div class="bottom-footer">
                <ul class="social-link">
                    <li>
                        <a href="" title="facebook"><i class="ri-facebook-fill"></i></a>
                    </li>
                    <li>
                        <a href="" title="twitter"><i class="ri-twitter-fill"></i></a>
                    </li>
                    <li>
                        <a href="" title="linkedin"><i class="ri-linkedin-fill"></i></a>
                    </li>
                    <li>
                        <a href="" title="instagram"><i class="ri-instagram-line"></i></a>
                    </li>
                </ul>
            </div>
        </footer>
        <!-- footer END -->

    </div>
    <!-- main-page END  -->

    <!-- Modal Forgot Password -->
    <div class="modal cstm-modal fade" id="ForgotPassword" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i
                        class="ri-close-line"></i></button>
                <div class="modal-body">
                    <!-- SignIn form Details  Start -->
                    <div class="auth-wrapper">
                        <h2>Welcome back to the <strong>AchieveMate</strong> Community</h2>
                        <div class="auth-form">
                            <!-- auth-form Start -->
                            <form >
                                {% csrf_token %}
                                <div class="row g-4">
                                    <div class="col-12">
                                        <div class="d-flex form-group gap-3 justify-content-center mb-0 mb-sm-3">
                                                <span class="auth-icon-btn-text">We will send you an email with a temporary password , For Better Security Please Change it from profile. </span>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <!-- Email -->
                                        <div class="form-group">
                                            <label class="form-label">Email or Username</label>
                                            <input type="text" name="email" id="forogot_password_username" value="" placeholder="Enter Your Email"
                                                class="form-control" required="">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="row align-items-center">
                                            <div class="col-6">
                                                <!-- Button  -->
                                                <button id="reset_password_button"
                                                    class="btn btn-mcolor w-100 rounded-pill text-uppercase">Reset Password</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="text-center">
                                            <span class="mt-3 mb-0 text-black">No Account yet? <strong><a href=""
                                                        data-bs-toggle="modal" data-bs-target="#UserSignUp"><u>SIGN
                                                            UP</u></a></strong>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!-- auth-form END -->
                        </div>
                    </div>
                    <!-- SignIn form Details  END -->
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Login -->
    <div class="modal cstm-modal fade" id="UserLogin" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i
                        class="ri-close-line"></i></button>
                <div class="modal-body">
                    <!-- SignIn form Details  Start -->
                    <div class="auth-wrapper">
                        <h2>Welcome back to the <strong>AchieveMate</strong> Community</h2>
                        <div class="auth-form">
                            <!-- auth-form Start -->
                            <form method="post">
                                {% csrf_token %}
                            
                                <div class="row g-4">
                                    <div class="col-12">
                                        <div class="d-flex form-group gap-3 justify-content-center mb-0 mb-sm-3">
                                            <!-- Sign up via Google -->
                                            <button type="" class="btn auth-icon-btn" id="btn_google_login">
                                                <img src="{% static 'assets/img/icon/svg/google.svg' %}" alt="google">
                                                <span class="auth-icon-btn-text"> Sign up via Google</span>
                                            </button>
                                            <!-- Sign up via Git_Hub  -->
                                            {% comment %} <button type="" class="btn auth-icon-btn">
                                                <img src="{% static 'assets/img/icon/svg/Git_Hub.svg' %}" alt="Git_Hub">
                                                <span class="auth-icon-btn-text"> Sign up with Github</span>
                                            </button> {% endcomment %}
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <!-- Email -->
                                        <div class="form-group">
                                            <label class="form-label">Email or Username</label>
                                            <input type="text" name="email" id="login_username" value="" placeholder="Enter Your Email"
                                                class="form-control" required="">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <!-- Password -->
                                        <div class="form-group">
                                            <label class="form-label">Password</label>
                                            <input type="password" name="password" id="login_password" value="" placeholder="Password"
                                                class="form-control" required="">
                                            <span class="input-icon toggle-password" data-target="#login_password"><i class="ri-eye-line"></i></span>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="row align-items-center">
                                            <div class="col-6">
                                                <div class="form-group cstm-checkbox">
                                                    <input type="checkbox" id="Remember_Me">
                                                    <label for="Remember_Me">Remember me</label>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <!-- Button  -->
                                                <button type="submit" id="login_button"
                                                    class="btn btn-mcolor w-100 rounded-pill text-uppercase">Log
                                                    in</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="text-center">
                                            <span class="mt-3 mb-0 text-black">No Account yet? <strong><a href=""
                                                        data-bs-toggle="modal" data-bs-target="#UserSignUp"><u>SIGN
                                                            UP</u></a></strong></span>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="text-center">
                                            <span class="mt-3 mb-0 text-black">Forgot Password? <strong><a href="#"
                                                        data-bs-toggle="modal" data-bs-target="#ForgotPassword"><u>Click here</u></a></strong></span>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!-- auth-form END -->
                        </div>
                    </div>
                    <!-- SignIn form Details  END -->
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Signup -->
    <div class="modal cstm-modal fade" id="UserSignUp" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i
                        class="ri-close-line"></i></button>
                <div class="modal-body">
                    <!-- Sign up form Details  Start -->
                    <div class="auth-wrapper">
                        <h2>Join & Connect the Fastest Growing Online Community</h2>
                        <div class="auth-form">
                            <!-- auth-form Start -->
                            
                            <form>
                                {% csrf_token %}
                                <div class="row g-4">
                                    <div class="col-12">
                                        <div class="d-flex form-group gap-3 justify-content-center mb-0 mb-sm-3">
                                            <!-- Sign up via Google -->
                                            <button type="" class="btn auth-icon-btn" id="btn_google_login2">
                                                <img src="{% static 'assets/img/icon/svg/google.svg' %}" alt="google">
                                                <span class="auth-icon-btn-text"> Sign up via Google</span>
                                            </button>
                                            <!-- Sign up via Git_Hub  -->
                                            {% comment %} <button type="" class="btn auth-icon-btn">
                                                <img src="{% static 'assets/img/icon/svg/Git_Hub.svg' %}" alt="Git_Hub">
                                                <span class="auth-icon-btn-text"> Sign up with Github</span>
                                            </button> {% endcomment %}
                                        </div>
                                    </div>
                                    {% comment %} <div id="signupError" class="alert alert-danger" role="alert" style="display: none;"></div> {% endcomment %}
                                    <div class="col-12">
                                        <!-- username -->
                                        <div class="form-group">
                                            <label class="form-label">Username</label>
                                            <input type="text" name="username" id="signup_username" value="" placeholder="Enter Your username"
                                                class="form-control" required="">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <!-- Email -->
                                        <div class="form-group">
                                            <label class="form-label">Email</label>
                                            <input type="text" name="email" value="" id="signup_email" placeholder="Enter Your Email"
                                                class="form-control" required="">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <!-- Password -->
                                        <div class="form-group">
                                            <label class="form-label">Password</label>
                                            <input type="password" name="password" value="" id="signup_password" placeholder="Password"
                                                class="form-control " required="">
                                            <span class="input-icon toggle-password" data-target="#signup_password"><i class="ri-eye-line"></i></span>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="row align-items-center">
                                            <div class="col-6">
                                                <div class="form-group cstm-checkbox">
                                                    <input type="checkbox" id="Term_Condition">
                                                    <label for="Term_Condition">I accept the terms & Condition</label>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <!-- Button  -->
                                                <button id="signup_button"
                                                    class="btn btn-mcolor w-100 rounded-pill text-uppercase">Sign
                                                    up</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="text-center">
                                            <span class="mt-3 mb-0 text-black">Own an Account? <strong><a href="#"
                                                        data-bs-toggle="modal" data-bs-target="#UserLogin"><u>JUMP RIGHT
                                                            IN</u></a></strong></span>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!-- auth-form END -->
                        </div>
                    </div>
                    <!-- Sign up form Details  END -->
                </div>
            </div>
        </div>
    </div>
</body>
<!-- script -->
<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<!-- owl.carousel -->
<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'assets/js/script.js' %}"></script>
<script>

      $(document).ready(function() {
          // Check if the URL contains a message parameter
          var urlParams = new URLSearchParams(window.location.search);
          var message = urlParams.get('message');
      
          if (message) {
              // Display the message in an alert box
              window.location.href = "{% url 'index' %}";
              alert(message);
          }
      });
  
      $(document).ready(function() {
          // Attach a click event handler to the button with id "btn_google_login"
          $("#btn_google_login").on("click", function() {
              // Redirect to the Google login URL
              window.location.href = "{% provider_login_url 'google' action='reauthenticate' %}";
          });
          $("#btn_google_login2").on("click", function() {
              // Redirect to the Google login URL
              window.location.href = "{% provider_login_url 'google'  action='reauthenticate' %}";
          });
      });
  
  
      $("#signup_button").click(function (event) {
          event.preventDefault();  // Prevent the default link behavior
          let csr = $("input[name=csrfmiddlewaretoken]").val();
          var username = $('#signup_username').val();
          var email = $('#signup_email').val();
          var password = $('#signup_password').val();
          // Construct data object
          var formData = {
              'username': username,
              'email': email,
              'password': password,
              'csrfmiddlewaretoken': csr
          };
          $('#UserSignUp').modal('hide');
          $('#signup_username').val('');
          $('#signup_email').val('');
          $('#signup_password').val('');
          // Alert message before AJAX request completion
          alert("Submitting signup request. Please Verify email to login");
          $.ajax({
            method: "POST",
            url: "{% url 'signup' %}",  
            data: formData,
            success: function (response) {
              console.log(response)
              //$('#signup_username').val('');
              //$('#signup_email').val('');
              //$('#signup_password').val('');
              //$('#UserSignUp').modal('hide');
              if (response.success) {
                  // Handle successful signup
                  //alert("Signup successful, Please Verify email to login");
              } else {
                  // Handle signup error
                  alert(response.error)
              }
            },
            error: function (error) {
              console.log("Signup error:", error);
            }
          });
        });
  
  
  
      $("#login_button").click(function (event) {
          event.preventDefault();  // Prevent the default link behavior
          let csr = $("input[name=csrfmiddlewaretoken]").val();
          var username = $('#login_username').val();
          var password = $('#login_password').val();
          // Construct data object
          var formData = {
              'username': username,
              'password': password,
              'csrfmiddlewaretoken': csr
          };
          $.ajax({
            method: "POST",
            url: "{% url 'login' %}",  
            data: formData,
            success: function (response) {
              console.log(response)
              $('#login_username').val('');
              $('#login_password').val('');
              $('#UserLogin').modal('hide');
              if (response.success) {
                  window.location.href = "{% url 'choose_coach' %}";
                  //alert("Login successful");
              } else {
                  // Handle signup error
                  alert(response.error)
              }
            },
            error: function (error) {
              console.log("Login error:", error);
            }
          });
        });

        $("#reset_password_button").click(function (event) {
            event.preventDefault();  // Prevent the default link behavior
            var username = $('#forogot_password_username').val();
            let csr = $("input[name=csrfmiddlewaretoken]").val();
            // Construct data object
            var formData = {
                'username': username,
                'csrfmiddlewaretoken': csr
            };
            $.ajax({
              method: "POST",
              url: "{% url 'forgot_password' %}",  
              data: formData,
              success: function (response) {
                console.log(response)
                $('#forogot_password_username').val('');
                $('#reset_password_button').modal('hide');
                if (response.success) {
                    alert(response.message)
                    location.reload()
                } else {
                    // Handle signup error
                    alert(response.message)
                }
              },
              error: function (error) {
                console.log("error:", error);
              }
            });
        });


        $(document).ready(function() {
            // Function to set active class based on current URL
            function setActiveNavItem() {
                // Get the current URL path
                var currentPath = window.location.pathname;
    
                // Loop through each navigation item
                $('.nav-item').each(function() {
                    var href = $(this).find('.nav-link').attr('href');
    
                    // Check if the current URL matches the href of the navigation item
                    if (currentPath === href) {
                        $(this).addClass('active');
                    }
                });
            }
    
            // Set active class initially
            setActiveNavItem();
    
            // Add click event listener to all navigation items
            $('.nav-item').on('click', function() {
                // Remove 'active' class from all navigation items
                $('.nav-item').removeClass('active');
    
                // Add 'active' class to the clicked navigation item
                $(this).addClass('active');
            });
        });


        $(document).ready(function() {
            // Listen for the popstate event (triggered by the back button)
            $(window).on('popstate', function() {
                // Reload the page
                location.reload();
            });
            // Function to toggle password visibility
            function togglePassword(target) {
                const input = $(target);
                const icon = input.next('.input-icon');
        
                if (input.attr('type') === 'password') {
                    input.attr('type', 'text');
                    //icon.html('<img src="{% static 'assets/img/icon/eye-slash.svg' %}" alt="Hide Password" />');
                } else {
                    input.attr('type', 'password');
                    //icon.html('<img src="{% static 'assets/img/icon/eye.svg' %}" alt="Show Password" />');
                }
            }
        
            // Attach click event to all elements with class 'toggle-password'
            $('.toggle-password').click(function() {
                const target = $(this).data('target');
                togglePassword(target);
            });
        });

        $(document).on('keyup', function(event) {
            console.log("Key pressed: " + event.which);
            if (event.which === 13) {
                console.log("Enter key pressed");
                // Determine which modal is open
                var activeModal = $('.modal.show')[0].id;
                
                // Check which modal is active and click the respective button
                if (activeModal === "UserLogin") {
                    $('#login_button').click();
                } else if (activeModal === "UserSignUp") {
                    $('#signup_button').click();
                } else if (activeModal === "ForgotPassword") {
                    $('#reset_password_button').click();
                }
            }
        });
  </script>
</html>