{% extends "achievemate/main_base.html" %}
{% load static %}
{% block content %}
        <!-- page-title-section Start  -->
        <section class="page-title-section our-coach-page">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumb-wrap">
                            <nav aria-label="breadcrumb">
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Our Coaches</li>
                                </ul>
                            </nav>
                            <!-- page-title -->
                            <div class="page-title">
                                <h2>Our Coach's</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- page-title-section END  -->

        <!-- ourcoach-section-Start -->
        <section class="ourcoach-section">
            <div class="container">
                <div class="row row-cols-xl-4 row-cols-lg-3 row-cols-md-2 row-cols-sm-2 row-cols-1 g-xl-5 g-3 mt-0">
                    <!-- Loop start  -->
                    {% for single_coach in all_coach_details %}
                    <div class="col">
                        <!-- img-wrapper -->
                        <div class="img-wrapper">
                            <!-- img-thumbnail -->
                            <div class="img-thumbnail">
                                <img src="{{single_coach.coach_profile_image.url}}" alt="coach/coach-01" />
                            </div>
                            <!-- img-content -->
                            <div class="img-content">
                                <div class="img-content-head">
                                    <!-- title -->
                                    <h4 class="title">{{single_coach.coach_name}}</h4>
                                    <!-- designation -->
                                    <span class="designation"> {{single_coach.coach_expertise}}</span>
                                </div>
                                <!-- desc -->
                                <p class="desc">
                                    {{single_coach.coach_about}}
                                </p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <!-- Loop END  -->
                    {% comment %} <div class="col">
                        <!-- img-wrapper -->
                        <div class="img-wrapper">
                            <!-- img-thumbnail -->
                            <div class="img-thumbnail">
                                <img src="{% static 'assets/img/coach/coach-02.jpg' %}" alt="coach/coach-02" />
                            </div>
                            <!-- img-content -->
                            <div class="img-content">
                                <div class="img-content-head">
                                    <!-- title -->
                                    <h4 class="title">Amelia Smith</h4>
                                    <!-- designation -->
                                    <span class="designation"> Health Experts </span>
                                </div>
                                <!-- desc -->
                                <p class="desc">
                                    Amelia Smith is a distinguished health expert specializing in nutrition, exercise,
                                    and diet, with over fifteen years of experience in the wellness industry. Her
                                    comprehensive approach combines the latest scientific research with practical,
                                    everyday strategies to help her clients achieve optimal health.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <!-- img-wrapper -->
                        <div class="img-wrapper">
                            <!-- img-thumbnail -->
                            <div class="img-thumbnail">
                                <img src="{% static 'assets/img/coach/coach-03.jpg' %}" alt="coach/coach-03" />
                            </div>
                            <!-- img-content -->
                            <div class="img-content">
                                <div class="img-content-head">
                                    <!-- title -->
                                    <h4 class="title">Michael Williams</h4>
                                    <!-- designation -->
                                    <span class="designation"> Business Idea Experts </span>
                                </div>
                                <!-- desc -->
                                <p class="desc">
                                    Mark Miller is a renowned career coach with a focus on helping individuals find the
                                    right career path, achieve work-life balance, and secure a fulfilling income. With
                                    over twenty years in career counseling, Mark has a knack for uncovering his clients'
                                    true passions and aligning them with viable career opportunities.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <!-- img-wrapper -->
                        <div class="img-wrapper">
                            <!-- img-thumbnail -->
                            <div class="img-thumbnail">
                                <img src="{% static 'assets/img/coach/coach-04.jpg' %}" alt="coach/coach-04" />
                            </div>
                            <!-- img-content -->
                            <div class="img-content">
                                <div class="img-content-head">
                                    <!-- title -->
                                    <h4 class="title">Mark Miller</h4>
                                    <!-- designation -->
                                    <span class="designation"> Career Experts</span>
                                </div>
                                <!-- desc -->
                                <p class="desc">
                                    Michael Williams stands out as a Business Idea Expert, renowned for his exceptional
                                    ability to nurture and develop innovative business concepts. With over eighteen
                                    years of experience in entrepreneurship and business consulting, Michael has become
                                    a pivotal figure for aspiring entrepreneurs and established business owners alike.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <!-- img-wrapper -->
                        <div class="img-wrapper">
                            <!-- img-thumbnail -->
                            <div class="img-thumbnail">
                                <img src="{% static 'assets/img/coach/coach-01.jpg' %}" alt="coach/coach-01" />
                            </div>
                            <!-- img-content -->
                            <div class="img-content">
                                <div class="img-content-head">
                                    <!-- title -->
                                    <h4 class="title">Jacob Jones</h4>
                                    <!-- designation -->
                                    <span class="designation"> Life Coaching Experts</span>
                                </div>
                                <!-- desc -->
                                <p class="desc">
                                    Navigate the world of finance with confidence under the guidance of Coach Jones.
                                    With a rich background in financial planning and a knack for making complex concepts
                                    easy to understand, Jones is your go-to expert foExpertsr all things money-related.
                                    From budgeting to investing, Jones offers practical, tailored advice to help you
                                    make informed financial decisions.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <!-- img-wrapper -->
                        <div class="img-wrapper">
                            <!-- img-thumbnail -->
                            <div class="img-thumbnail">
                                <img src="{% static 'assets/img/coach/coach-02.jpg' %}" alt="coach/coach-02" />
                            </div>
                            <!-- img-content -->
                            <div class="img-content">
                                <div class="img-content-head">
                                    <!-- title -->
                                    <h4 class="title">Amelia Smith</h4>
                                    <!-- designation -->
                                    <span class="designation"> Health Experts </span>
                                </div>
                                <!-- desc -->
                                <p class="desc">
                                    Amelia Smith is a distinguished health expert specializing in nutrition, exercise,
                                    and diet, with over fifteen years of experience in the wellness industry. Her
                                    comprehensive approach combines the latest scientific research with practical,
                                    everyday strategies to help her clients achieve optimal health.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <!-- img-wrapper -->
                        <div class="img-wrapper">
                            <!-- img-thumbnail -->
                            <div class="img-thumbnail">
                                <img src="{% static 'assets/img/coach/coach-03.jpg' %}" alt="coach/coach-03" />
                            </div>
                            <!-- img-content -->
                            <div class="img-content">
                                <div class="img-content-head">
                                    <!-- title -->
                                    <h4 class="title">Michael Williams</h4>
                                    <!-- designation -->
                                    <span class="designation"> Business Idea Experts </span>
                                </div>
                                <!-- desc -->
                                <p class="desc">
                                    Mark Miller is a renowned career coach with a focus on helping individuals find the
                                    right career path, achieve work-life balance, and secure a fulfilling income. With
                                    over twenty years in career counseling, Mark has a knack for uncovering his clients'
                                    true passions and aligning them with viable career opportunities.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <!-- img-wrapper -->
                        <div class="img-wrapper">
                            <!-- img-thumbnail -->
                            <div class="img-thumbnail">
                                <img src="{% static 'assets/img/coach/coach-04.jpg' %}" alt="coach/coach-04" />
                            </div>
                            <!-- img-content -->
                            <div class="img-content">
                                <div class="img-content-head">
                                    <!-- title -->
                                    <h4 class="title">Mark Miller</h4>
                                    <!-- designation -->
                                    <span class="designation"> Career Experts</span>
                                </div>
                                <!-- desc -->
                                <p class="desc">
                                    Michael Williams stands out as a Business Idea Expert, renowned for his exceptional
                                    ability to nurture and develop innovative business concepts. With over eighteen
                                    years of experience in entrepreneurship and business consulting, Michael has become
                                    a pivotal figure for aspiring entrepreneurs and established business owners alike.
                                </p>
                            </div>
                        </div>
                    </div> {% endcomment %}
                </div>
            </div>
        </section>
        <!-- about-section END -->
{% endblock %}