{% extends "achievemate/main_base.html" %}
{% load static %}
{% block content %}
        <!-- page-title-section Start  -->
        <section class="page-title-section services-page">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumb-wrap">
                            <nav aria-label="breadcrumb">
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Services</li>
                                </ul>
                            </nav>
                            <!-- page-title -->
                            <div class="page-title">
                                <h2>Services</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- page-title-section END  -->

        <!-- grey-bg-section-Start --> 
        <section class="grey-bg-section">
            <!-- pattern-one -->
            <img src="{% static 'assets/img/pattern-one.svg' %}" class="section-shape bottom-left" alt="img/pattern-one">
            <!-- pattern-two  -->
            <img src="{% static 'assets/img/pattern-two.svg' %}" class="section-shape top-right" alt="img/pattern-two">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-11 col-xl-9 m-auto">
                        <!-- section-title -->
                        <div class="section-title text-center mb-3">
                            <h3 class="text-mcolor">Discover How AchieveMate Can Transform Your Life</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-11 col-xl-9 m-auto">
                        <!-- about-desc -->
                        <div class="about-desc">
                            <p> Welcome to <strong>AchieveMate</strong>, your all-in-one platform for personal growth and achievement. Our AI-powered coaching app is designed to guide you in reaching your fullest potential across various aspects of your life. Here's what you can explore and benefit from with <strong>AchieveMate</strong>:</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- grey-bg-section END -->

        <!-- iconbox-section-Start --> 
        <section class="iconbox-section">
            <div class="container">
                <div class="row g-3 g-xl-5 row-cols-1 row-cols-xl-3 row-cols-lg-3 row-cols-md-2 row-cols-sm-2 ">
                    <!-- Loop Start  -->
                    <div class="col">
                        <!-- icon-box -->
                        <div class="icon-box">
                            <!-- box-head -->
                            <div class="box-head">
                                <img src="{% static 'assets/img/icon-box/Personalized_Goal.png' %}" alt="icon-box/Personalized_Goal" />
                            </div>
                            <!-- box-content -->
                            <div class="box-content">
                                <!-- title -->
                                <h3 class="title">Personalized Goal Setting and Tracking</h3>
                                <!-- desc -->
                                <p class="desc">Contrary to popular belief, Ipsum is not simply random text. It has roots in a piece.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Loop END  -->
                    <div class="col">
                        <!-- icon-box -->
                        <div class="icon-box">
                            <!-- box-head -->
                            <div class="box-head">
                                <img src="{% static 'assets/img/icon-box/Coaching_Session.png' %}" alt="icon-box/Coaching_Session" />
                            </div>
                            <!-- box-content -->
                            <div class="box-content">
                                <!-- title -->
                                <h3 class="title">AI-Powered Coaching Sessions</h3>
                                <!-- desc -->
                                <p class="desc">Experience personalized coaching in fitness, finance, cooking, yoga, and more, all powered by advanced AI. Get tailored advice and recommendations that adapt to your progress and preferences.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <!-- icon-box -->
                        <div class="icon-box">
                            <!-- box-head -->
                            <div class="box-head">
                                <img src="{% static 'assets/img/icon-box/Resource_Library.png' %}" alt="icon-box/Resource_Library" />
                            </div>
                            <!-- box-content -->
                            <div class="box-content">
                                <!-- title -->
                                <h3 class="title">Resource Library</h3>
                                <!-- desc -->
                                <p class="desc">Access a wealth of knowledge through articles, videos, tutorials, and podcasts. From beginners to advanced learners, we have resources to cater to everyone's needs.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <!-- icon-box -->
                        <div class="icon-box">
                            <!-- box-head -->
                            <div class="box-head">
                                <img src="{% static 'assets/img/icon-box/Diet_Exercise.png' %}" alt="icon-box/Diet_Exercise" />
                            </div>
                            <!-- box-content -->
                            <div class="box-content">
                                <!-- title -->
                                <h3 class="title">Customized Diet and Exercise Plans</h3>
                                <!-- desc -->
                                <p class="desc">Embark on a fitness journey with diet and exercise plans customized just for you. Sync with your fitness trackers and health apps for a comprehensive wellness experience.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <!-- icon-box -->
                        <div class="icon-box">
                            <!-- box-head -->
                            <div class="box-head">
                                <img src="{% static 'assets/img/icon-box/Financial_Planning.png' %}" alt="icon-box/Financial_Planning" />
                            </div>
                            <!-- box-content -->
                            <div class="box-content">
                                <!-- title -->
                                <h3 class="title">Financial Planning Tools</h3>
                                <!-- desc -->
                                <p class="desc">Navigate your finances with ease using our budgeting tools, investment simulators, and financial health assessments. Learn about financial literacy and effective money management.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <!-- icon-box -->
                        <div class="icon-box">
                            <!-- box-head -->
                            <div class="box-head">
                                <img src="{% static 'assets/img/icon-box/Regular_Feedback.png' %}" alt="icon-box/Regular_Feedback" />
                            </div>
                            <!-- box-content -->
                            <div class="box-content">
                                <!-- title -->
                                <h3 class="title">Regular Feedback and Assessment</h3>
                                <!-- desc -->
                                <p class="desc">Receive regular feedback and assessments to understand your progress. Our AI-driven tips are personalized to help you improve continuously.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <!-- icon-box -->
                        <div class="icon-box">
                            <!-- box-head -->
                            <div class="box-head">
                                <img src="{% static 'assets/img/icon-box/Customer_Support.png' %}" alt="icon-box/Customer_Support" />
                            </div>
                            <!-- box-content -->
                            <div class="box-content">
                                <!-- title -->
                                <h3 class="title">Customer Support and Coaching Assistance</h3>
                                <!-- desc -->
                                <p class="desc">Our dedicated support team is here to assist you with any queries or guidance you need. At AchieveMate, we're committed to your success and well-being.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- iconbox-section END -->

        <!-- interactive-section-Start --> 
        <section class="interactive-section bg-color-yes">
            <!-- pattern-one -->
            <img src="{% static 'assets/img/pattern-one.svg' %}" class="section-shape bottom-left" alt="img/pattern-one">
            <!-- pattern-two  -->
            <img src="{% static 'assets/img/pattern-two.svg' %}" class="section-shape top-right" alt="img/pattern-two">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!-- section-title -->
                        <div class="section-title text-center">
                            <h4 class="mb-0">Join <span class="text-scolor">AchieveMate</span> today and start your journey towards a more fulfilled and accomplished life. Your goals, our guidance – together, let's make greatness happen!</h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- interactive-section END -->
{% endblock %}