{% extends "achievemate/main_base.html" %}
{% load static %}
{% block content %}
        <!-- page-title-section Start  -->
        <section class="page-title-section subscription-page">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumb-wrap">
                            <nav aria-label="breadcrumb">
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Subscription</li>
                                </ul>
                            </nav>
                            <!-- page-title -->
                            <div class="page-title">
                                <h2>Subscription</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- page-title-section END  -->

        <!-- subscription-section-Start --> 
        <section class="subscription-section">
            <div class="container">
                <div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-2 row-cols-1 g-3">
                    {% for package in packages %}
                    <div class="col">
                        <!-- Subscription Wrap Start -->
                        <div class="subscription-wrap">
                            <div class="subscription-content">
                                <!-- subscription-header -->
                                <div class="subscription-header">
                                    <span class="subscription-plan">{{ package.package_name }}</span>
                                    <!-- subscription-title -->
                                    {% for subscription in subscriptions %}
                                    {% if subscription.subscription_package == package %}
                                    <h3 class="subscription-title">${{ subscription.price }}<sub>/ {{ subscription.duration }} month</sub></h3><br>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="subscription-body">
                                    <!-- plan-list -->
                                    <div class="plan-list">
                                        <ul>
                                            {% for feature in features %}
                                            {% if feature.subscription_package == package %}
                                            <li>
                                                <i class="ri-check-fill"></i>
                                                {{ feature.feature_name }}
                                            </li>
                                            {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            {% for subscription in subscriptions %}
                            {% if subscription.subscription_package == package %}
                            <div class="subscription-footer">
                                <button role="button" class="btn btn-mcolor w-100" onclick="redirectToStripe('{{ subscription.id }}')">${{ subscription.price }} for {{ subscription.duration }} months</button>
                            </div>
                            {% endif %}
                            {% endfor %}
                            <!-- subscription-footer Button -->
                            <div class="subscription-footer">
                                <button role="button" class="btn btn-mcolor w-100">Create a free account </button>
                            </div>
                        </div>
                        <!-- Subscription Wrap End -->
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <!-- subscription-section END -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            function redirectToStripe(priceId) {
                console.log(priceId)
                let csr = $("input[name=csrfmiddlewaretoken]").val();
                // Construct data object
                var formData = {
                    'price_id': priceId,
                    'csrfmiddlewaretoken': csr
                };
                $.ajax({
                    method: "POST",
                    url: "{% url 'create_stripe_session' %}",  
                    data: formData,
                    success: function(data) {
                        console.log(data)
                        // Redirect the user to the Stripe checkout page
                        window.location.href = `${data.sessionurl}`;
                    },
                    error: function(xhr, textStatus, errorThrown) {
                        console.error('Error:', errorThrown);
                    }
                });
            }
        </script>
        
{% endblock%}
