{% extends "achievemate/main_base.html" %}
{% load static %}
{% block content %}
        <!-- page-title-section Start  -->
        <section class="page-title-section subscription-page">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumb-wrap">
                            <nav aria-label="breadcrumb">
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Subscription</li>
                                </ul>
                            </nav>
                            <!-- page-title -->
                            <div class="page-title">
                                <h2>Subscription</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- page-title-section END  -->

        <!-- subscription-section-Start --> 
        <section class="subscription-section">
            <div class="container">
                <div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-2 row-cols-1 g-3">
                    <div class="col">
                        <!-- Subscription Wrap Start -->
                        <div class="subscription-wrap">
                            <div class="subscription-content">
                                <!-- subscription-header -->
                                <div class="subscription-header">
                                    <span class="subscription-plan">Starter Plan</span>
                                    <!-- subscription-title -->
                                    <h3 class="subscription-title">$11<sub>/ month</sub></h3>
                                </div>
                                <div class="subscription-body">
                                    <!-- plan-list -->
                                    <div class="plan-list">
                                        <ul>
                                            <!-- Loop Start  -->
                                            <li>
                                                <i class="ri-check-fill"></i>
                                                20,000 Visitors
                                            </li>
                                            <!-- Loop END  -->
                                            <li>
                                                <i class="ri-check-fill"></i>
                                                Create Unlimited Widgets
                                            </li>
                                            <li>
                                                <i class="ri-check-fill"></i>
                                                CMS Integration
                                            </li>
                                            <li>
                                                <i class="ri-check-fill"></i>
                                                All Widget Types
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- subscription-footer Button -->
                            <div class="subscription-footer">
                                <button role="button" class="btn btn-mcolor w-100">Create a free account </button>
                            </div>
                        </div>
                        <!-- Subscription Wrap End -->
                    </div>
                    <div class="col">
                        <!-- Subscription Wrap Start -->
                        <div class="subscription-wrap">
                            <div class="subscription-content">
                                <!-- subscription-header -->
                                <div class="subscription-header">
                                    <span class="subscription-plan">Starter Plan</span>
                                    <!-- subscription-title -->
                                    <h3 class="subscription-title">$35<sub>/ month</sub></h3>
                                </div>
                                <div class="subscription-body">
                                    <!-- plan-list -->
                                    <div class="plan-list">
                                        <ul>
                                            <!-- Loop Start  -->
                                            <li>
                                                <i class="ri-check-fill"></i>
                                                50,000 Visitors
                                            </li>
                                            <!-- Loop END  -->
                                            <li>
                                                <i class="ri-check-fill"></i>
                                                Create Unlimited Widgets
                                            </li>
                                            <li>
                                                <i class="ri-check-fill"></i>
                                                CMS Integration
                                            </li>
                                            <li>
                                                <i class="ri-check-fill"></i>
                                                All Widget Types
                                            </li>
                                            <li>
                                                <i class="ri-check-fill"></i>
                                                Integrations
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- subscription-footer Button -->
                            <div class="subscription-footer">
                                <button role="button" class="btn btn-mcolor w-100">Create a free account </button>
                            </div>
                        </div>
                        <!-- Subscription Wrap End -->
                    </div>
                    <div class="col">
                        <!-- Subscription Wrap Start -->
                        <div class="subscription-wrap is-selected">
                            <div class="subscription-content">
                                <!-- subscription-header -->
                                <div class="subscription-header">
                                    <span class="subscription-plan">Starter Plan</span>
                                    <!-- subscription-title -->
                                    <h3 class="subscription-title">$11<sub>/ month</sub></h3>
                                </div>
                                <div class="subscription-body">
                                    <!-- plan-list -->
                                    <div class="plan-list">
                                        <ul>
                                            <!-- Loop Start  -->
                                            <li>
                                                <i class="ri-check-fill"></i>
                                                20,000 Visitors
                                            </li>
                                            <!-- Loop END  -->
                                            <li>
                                                <i class="ri-check-fill"></i>
                                                Create Unlimited Widgets
                                            </li>
                                            <li>
                                                <i class="ri-check-fill"></i>
                                                CMS Integration
                                            </li>
                                            <li>
                                                <i class="ri-check-fill"></i>
                                                All Widget Types
                                            </li>
                                            <li>
                                                <i class="ri-check-fill"></i>
                                                Integrations
                                            </li>
                                            <li>
                                                <i class="ri-check-fill"></i>
                                                Dedicated Manager
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- subscription-footer Button -->
                            <div class="subscription-footer">
                                <button role="button" class="btn btn-mcolor w-100">Create a free account </button>
                            </div>
                        </div>
                        <!-- Subscription Wrap End -->
                    </div>
                </div>
            </div>
        </section>
        <!-- subscription-section END -->

{% endblock%}