{% extends "achievemate/main_base.html" %}
{% load static %}
{% block content %}

        <!-- page-title-section Start  -->
        <section class="page-title-section testimonial-page">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumb-wrap">
                            <nav aria-label="breadcrumb">
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Testimonials</li>
                                </ul>
                            </nav>
                            <!-- page-title -->
                            <div class="page-title">
                                <h2>Testimonials</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- page-title-section END  -->

        <!-- testimonial-section-Start --> 
        <section class="testimonial-section">
            <div class="container">
                <div class="row g-3 g-xl-5 row-cols-1 row-cols-xl-2 row-cols-lg-2 row-cols-md-2 row-cols-sm-2 ">
                    <!-- Loop start -->
                    <div class="col">
                        <!-- testimonial-wrap -->
                        <div class="testimonial-wrap">
                            <!-- testimonial-head -->
                            <div class="testimonial-head">
                                <img src="{% static  'assets/img/testimonial/user1.png' %}" alt="testimonial/author01" />
                            </div>
                            <!-- testimonial-content -->
                            <div class="testimonial-content">
                                <!-- blockquote -->
                                <blockquote>"Working with the Career Expert was a game-changer for me. They helped me to map out my career goals, provided invaluable advice on resume building and interview techniques. Their personalized approach catered to my strengths and aspirations, giving me a clear direction. I feel more confident and prepared to enter the job market thanks to their guidance."</blockquote>
                                <div class="testimonial-author">
                                    <span class="name">Sophia Bennett,</span>
                                    <span class="role">Student</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Loop END -->
                    <div class="col">
                        <!-- testimonial-wrap -->
                        <div class="testimonial-wrap">
                            <!-- testimonial-head -->
                            <div class="testimonial-head">
                                <img src="{% static  'assets/img/testimonial/user2.jpg' %}" alt="testimonial/author02" />
                            </div>
                            <!-- testimonial-content -->
                            <div class="testimonial-content">
                                <!-- blockquote -->
                                <blockquote>"As a new parent, I was overwhelmed with questions and uncertainties. The Parenting Coach provided me with practical strategies and emotional support that eased my anxieties. Their insights into child development and effective communication techniques transformed my approach to parenting. I now feel more equipped to navigate the challenges of raising a child with confidence."</blockquote>
                                <div class="testimonial-author">
                                    <span class="name">Emma Chang, </span>
                                    <span class="role">Parenting Enthusiast</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <!-- testimonial-wrap -->
                        <div class="testimonial-wrap">
                            <!-- testimonial-head -->
                            <div class="testimonial-head">
                                <img src="{% static  'assets/img/testimonial/user3.jpg' %}" alt="testimonial/author03" />
                            </div>
                            <!-- testimonial-content -->
                            <div class="testimonial-content">
                                <!-- blockquote -->
                                <blockquote>"The Life Coach helped me uncover my true passions and overcome self-limiting beliefs. Through thought-provoking discussions and personalized exercises, they empowered me to set meaningful goals and take actionable steps towards achieving them. Their guidance has been instrumental in fostering a positive mindset and finding balance in various aspects of my life."</blockquote>
                                <div class="testimonial-author">
                                    <span class="name">Mia Gomez, </span>
                                    <span class="role">Human Resources</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <!-- testimonial-wrap -->
                        <div class="testimonial-wrap">
                            <!-- testimonial-head -->
                            <div class="testimonial-head">
                                <img src="{% static  'assets/img/testimonial/user4.jpg' %}" alt="testimonial/author04" />
                            </div>
                            <!-- testimonial-content -->
                            <div class="testimonial-content">
                                <!-- blockquote -->
                                <blockquote>"Working with the Business Coach was a game-changer for my business. Their expertise in strategic planning and market analysis provided invaluable insights that helped me refine my business model and scale efficiently. Their mentor-ship has not only accelerated our growth but also instilled confidence in our team's decision-making abilities."</blockquote>
                                <div class="testimonial-author">
                                    <span class="name">Alexander Johnson, </span>
                                    <span class="role">Business Maverick</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <!-- testimonial-wrap -->
                        <div class="testimonial-wrap">
                            <!-- testimonial-head -->
                            <div class="testimonial-head">
                                <img src="{% static  'assets/img/testimonial/user5.jpg' %}" alt="testimonial/author05" />
                            </div>
                            <!-- testimonial-content -->
                            <div class="testimonial-content">
                                <!-- blockquote -->
                                <blockquote>"The insights and strategies shared by the Business Coach were instrumental in revitalizing my entrepreneurial venture. Their deep understanding of market trends and customer behavior helped me identify untapped opportunities and optimize our marketing efforts. With their guidance, our business has experienced significant growth and is on track to achieve our long-term objectives."</blockquote>
                                <div class="testimonial-author">
                                    <span class="name">Ethan Williams, </span>
                                    <span class="role">Entrepreneur</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- testimonial-section END -->

{% endblock %}